@media only screen and (max-width: 991px) {
    #hero h2 {
        font-size: 32px !important;
    }



    #navigation {
        .btn-toggler {
            display: block !important;
        }

        .header-sidebar {
            display: flex !important;

        }

        .navbar-nav {
            position: fixed;
            top: 0;
            bottom: 0;
            right: -600px;
            width: 60%;
            z-index: 1;
            display: flex;

            background-color: white;
            padding-top: 16px;
            padding-left: 16px;

            .nav-item {
                font-size: 14px;
            }


            .btn-success {
                text-align: center;
                padding: 8px 10px;
                margin-top: 16px;
            }

            .btn-close:hover {
                cursor: pointer;

            }
        }
    }
}

@media (max-width: 360px) {}